@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none
}
body{
    max-width: 1440px auto;
    min-height: 80vh auto;
    height: auto;
}
.max-width {
    margin: auto;
    max-width: 1440px;
    padding: 0 80px
}
.navbar {
    font-family:'Ubuntu', sans-serif;
    padding: 30px 0px;
    position: fixed;
    -webkit-transform: all .3s ease;
    transform: all .3s ease;
    width: 100%;
    z-index: 999
}
.navbar.sticky {
    background: crimson;
    height: 25px;
}
.navbar .max-width {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600
}
.navbar .logo a span {
    color: crimson;
    -webkit-transform: all .3s ease;
    transform: all .3s ease
}
.navbar.sticky .logo a span {
    color: #fff
}
.navbar .menu li {
    display: inline-block;
    list-style: none
}
.navbar .menu li a {
    display: flex;
    padding: 14px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    transition: all 300ms ease;
}
.navbar .menu li a:hover {
    color: crimson;
    /*efectos*/
    text-transform: uppercase;
    transform: scale(1.1);
    text-shadow: 1px 1px 1px  #000;
}
.navbar.sticky li a:hover {
    color: #fff;
}
/*icono de inicio*/
.navbar .menu li:first-child > a{
    background-image: url(../img/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px 30px;
}
.navbar .menu li:first-child > a:hover{
    background-image: url(../img/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.1);
    /*color del icono|| drop shadow es la sobra el resto es el filter (color icono)*/
    filter: drop-shadow(1px 1px 1px  #000) invert(23%) sepia(71%) saturate(7056%) hue-rotate(340deg) brightness(87%) contrast(98%);
}
.navbar.sticky .menu li:first-child > a{
    background-image: url(../img/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar.sticky .menu li:first-child > a:hover{
    background-image: url(../img/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.1);
    /*color del icono|| drop shadow es la sobra el resto es el filter (olor icono)*/
    filter: drop-shadow(1px 1px 1px  #000);
}
/*para mostrar que pagina esta seleccionada*/
#selected1{
    filter:drop-shadow(1px 1px 1px  red) invert(8%) sepia(81%) saturate(7099%) hue-rotate(343deg) brightness(99%) contrast(104%);
    text-transform: uppercase;
    transform: scale(1.1);
}
#selected2{
    color: crimson;
    text-transform: uppercase;
    transform: scale(1.1);
}
.navbar.sticky #selected2{
    color: #333;
    text-transform: uppercase;
    transform: scale(1.1);
}
.rectangulo {
    font-family:'Ubuntu', sans-serif;
    padding: 30px 0;
    position: fixed;
    -webkit-transform: all .3s ease;
    transform: all .3s ease;
    width: 100%;
    height: 30px;
    background: #111;
    z-index: 999;
}
.rectangulo.sticky {
    background: crimson;
    height: 40px;
}
.menu-btn {
    display: none;
    font-size: 23px
}
.menu-btn,.scroll-up-btn {
    color: #fff;
    cursor: pointer
}
.scroll-up-btn {
    background: crimson;
    border-radius: 6px;
    bottom: 10px;
    font-size: 30px;
    height: 45px;
    line-height: 45px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 30px;
    text-align: center;
    transition: all .3s ease;
    width: 42px;
    z-index: 9999
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto
}
.fondo{
    background: url(../img/banner-min.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 1440px 100%;
    
}
.inicio {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    height: 80vh;
    min-height: 500px
}
.inicio .max-width {
    margin: auto 0 auto 40px
}
.inicio .inicio-contenedor{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.inicio .inicio-contenedor .izquierda {
    width: 65%
}
.inicio .inicio-contenedor .derecha img {
    border-radius: 6px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 400px;
    align-items: center;
    padding:  30px;
    background-repeat: no-repeat;
    /*color del icono|| drop shadow es la sobra el resto es el filter (color icono)*/
    filter: drop-shadow(1px 1px 1px  #000);
}
.inicio .inicio-contenedor .derecha {
    width: 35%
}
.inicio .inicio-contenedor .text-1 {
    font-size: 27px
}
.inicio .inicio-contenedor .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px
}
.inicio .inicio-contenedor .text-3 {
    font-size: 40px;
    margin: 5px 0
}
.inicio .inicio-contenedor .text-3 span {
    color: crimson
}
.inicio .inicio-contenedor a {
    background: crimson;
    border: 2px solid crimson;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    margin-top: 20px;
    padding: 12px 36px;
    transition: all .3s ease
}
.inicio .inicio-contenedor a:hover {
    background: none;
    color: crimson
}
section {
    padding: 120px 0
}
section .title:before {
    background: #111;
    bottom: 0;
    content: "";
    height: 3px;
    width: 180px
}
section .title:after,section .title:before {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
section .title:after {
    background: #fff;
    bottom: -12px;
    color: crimson;
    font-size: 20px;
    padding: 5px
}
.acerca {
    font-family: 'Poppins', sans-serif;
    height: 80vh;
}
.acerca .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}
.acerca .title:after {
    background: #fff;
    content: "Quien soy"
}
.acerca .acerca-contenedor {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.acerca .acerca-contenedor .izquierda {
    width: 45%
}
.acerca .acerca-contenedor .izquierda img {
    border-radius: 6px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 400px
}
.acerca .acerca-contenedor .derecha {
    width: 55%
}
.acerca .acerca-contenedor .derecha .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px
}
.acerca .acerca-contenedor .derecha .text span {
    color: crimson
}
.acerca .acerca-contenedor .derecha p {
    text-align: justify
}
.acerca .acerca-contenedor .derecha a {
    background: crimson;
    border: 2px solid crimson;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 30px;
    transition: all .3s ease
}
.acerca .acerca-contenedor .derecha a:hover {
    background: none;
    color: crimson
}
.servicios {
    background: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 80vh;
    height: auto;
}
.servicios .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 30px;
    position: relative;
    text-align: center
}
.servicios .title:before {
    background: #fff
}
.servicios .title:after {
    background: #111;
    content: "Lo que ofrezco"
}
.servicios .servicios-contenedor {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: auto
}
.servicios .servicios-contenedor .card {
    background: #222;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 20px 25px;
    text-align: center;
    transition: all .3s ease;
    width: 30%;
    width: calc(30% - 20px)
}
.servicios .servicios-contenedor .card .box {
    transition: all .3s ease
}
.servicios .servicios-contenedor .card:hover .box {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}
.servicios .servicios-contenedor .card:hover {
    background-color: crimson
}
.servicios .servicios-contenedor .card i {
    color: crimson;
    font-size: 50px;
    transition: color .3s ease
}
.servicios .servicios-contenedor .card:hover i {
    color: #fff
}
.servicios .servicios-contenedor .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px
}
.habilidades {
    font-family: 'Poppins', sans-serif;
    min-height: 80vh;
    height: auto;
}
.habilidades .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}
.habilidades .title:before {
    background: #111;
    bottom: 0;
    content: "";
    height: 3px;
    width: 180px
}
.habilidades .title:after,.habilidades .title:before {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.habilidades .title:after {
    background: #fff;
    bottom: -12px;
    color: crimson;
    content: "Lo que se";
    font-size: 20px;
    padding: 5px
}
.habilidades .habilidades-contenedor {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.habilidades .habilidades-contenedor .columna {
    width: 50%;
    width: calc(50% - 30px)
}
.habilidades .habilidades-contenedor .izquierda .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: -10px
}
.habilidades .habilidades-contenedor .izquierda p {
    text-align: justify;
    width: 95%
}
.habilidades .habilidades-contenedor .izquierda a {
    background: crimson;
    border: 2px solid crimson;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 8px 16px;
    transition: all .3s ease
}
.habilidades .habilidades-contenedor .izquierda a:hover {
    background: none;
    color: crimson
}
.habilidades .habilidades-contenedor .derecha .bars {
    margin-bottom: 15px
}
.habilidades .habilidades-contenedor .derecha .info {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.habilidades .habilidades-contenedor .derecha span {
    font-size: 18px;
    font-weight: 500
}
.habilidades .habilidades-contenedor .derecha .line {
    background: #d3d3d3;
    height: 5px;
    position: relative;
    width: 100%
}
.habilidades .habilidades-contenedor .derecha .line:before {
    background: crimson;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0
}
.habilidades-contenedor .derecha .css:before,.habilidades-contenedor .derecha .html:before {
    width: 60%
}
.habilidades-contenedor .derecha .js:before {
    width: 30%
}
.habilidades-contenedor .derecha .mysql:before,.habilidades-contenedor .derecha .php:before {
    width: 60%
}
.equipo {
    background: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 80vh;
    height: auto;
}
.equipo .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}
.equipo .title:before {
    background: #fff
}
.equipo .title:after {
    background: #111;
    content: "Quienes son"
}
.equipo .carrusel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all .3s ease
}
.equipo .carrusel .card:hover {
    background: crimson
}
.equipo .carrusel .card .box {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .3s ease
}
.equipo .carrusel .card:hover .box {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}
.equipo .carrusel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px
}
.equipo .carrusel .card img {
    border: 5px solid crimson;
    border-radius: 50%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .3s ease;
    width: 150px
}
.equipo .carrusel .card:hover img {
    border-color: #fff
}
.owl-dots {
    margin-top: 20px;
    text-align: center
}
.owl-dot {
    border: 2px solid crimson!important;
    border-radius: 50%;
    height: 13px;
    margin: 0 5px;
    outline: none!important;
    transition: all .3s ease;
    width: 13px
}
.owl-dot.active {
    border-radius: 14px;
    width: 35px
}
.owl-dot.active,.owl-dot:hover {
    background: crimson!important
}
.contacto {
    font-family: 'Poppins', sans-serif
}
.contacto .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}
.contacto .title:before {
    background: #111;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 180px
}
.contacto .title:after {
    background: #fff;
    content: "Aquí"
}
.contacto .contacto-contenedor {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.contacto .contacto-contenedor .columna {
    width: 50%;
    width: calc(50% - 30px)
}
.contacto .contacto-contenedor .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px
}
.contacto .contacto-contenedor .text2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px
}
.contacto .contacto-contenedor .izquierda p {
    text-align: justify
}
.contacto .contacto-contenedor .izquierda .icons {
    margin: 10px 0
}
.contacto .contacto-contenedor .izquierda .link-mail{
    list-style: none;
    text-decoration: none;
}
.contacto .contacto-contenedor .row {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 65px
}
.contacto .contacto-contenedor .row .info {
    margin-left: 30px
}
.contacto .contacto-contenedor .row i {
    color: crimson;
    font-size: 25px
}
.contacto .contacto-contenedor .info .head {
    font-weight: 500
}
.contacto .contacto-contenedor .info .sub-title {
    color: #333
}
.contacto .derecha form .campos {
    display: -ms-flexbox;
    display: flex
}
.contacto .derecha form .campo,.contacto .derecha form .campos .campo {
    height: 45px;
    margin-bottom: 15px;
    width: 100%
}
.contacto .derecha .textarea {
    height: 80px;
    width: 100%
}
.contacto .derecha form .nombre {
    margin-right: 20px;
}
.contacto .derecha form .email {
    margin-left: 20px
}
.contacto .derecha form .campo input,.contacto .derecha form .textarea textarea {
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    height: 100%;
    outline: none;
    padding: 0 15px;
    width: 100%
}
.contacto .derecha form .textarea textarea {
    padding-top: 10px;
    resize: none
}
.contacto .derecha form .button {
    height: 47px;
    width: 170px
}
.contacto .derecha form .button button {
    background: crimson;
    border: 2px solid crimson;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    transition: all .3s ease;
    width: 100%
}
.contacto .derecha form .button button:hover {
    background: none;
    color: crimson
}
footer {
    width: 100% auto;
    max-width: 1440px auto;
    position: relative;
    background: #111;
    color: #fff;
    padding: 20px 23px;
    text-align: center
}
footer span a {
    color: crimson;
    text-decoration: none
}
footer span a:hover {
    text-decoration: underline
}
#btn-mas {
    display: none;
    z-index: 999
}
.container {
    bottom: 100px;
    position: fixed;
    right: 25px;
    z-index: 999
}
.btn-mas label,.redes a {
    background: #cc2b2b;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
    color: #fff;
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease;
    width: 55px;
    z-index: 999
}
.redes a:hover {
    background: #fff;
    color: #cc2b2b
}
.redes a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden
}
#btn-mas:checked~.redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible
}
.btn-mas label {
    background: #f44141;
    cursor: pointer;
    font-size: 23px
}
#btn-mas:checked~.btn-mas label~ {
    font-size: 25px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}
@media(max-width:1104px) {
    .inicio .inicio-contenedor .izquierda {
        width: 60%
    }
    .inicio .inicio-contenedor .derecha {
        width: 40%
    }
    .inicio .inicio-contenedor .derecha img {
        height: 350px;
        width: 350px
    }
    .acerca .acerca-contenedor .izquierda img {
        height: 350px;
        width: 350px
    }
}
@media(max-width:991px) {
    .max-width {
        padding: 0 50px
    }
}
@media(max-width:947px) {
    .fondo {
    background: url(../img/banner-min.jpg); /* optimizar esta imagen*/
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 947px 100%;
    }
    .menu-btn {
        display: block;
        z-index: 999
    }
    .menu-btn i.active:before {
        content: "\f00d"
    }
    .navbar .menu {
        background: #111;
        height: 100vh;
        left: -110%;
        padding-top: 80px;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all .3s ease;
        width: 100%
    }
    .navbar .menu.active {
        left: 0
    }
    .navbar .menu li {
        display: block
    }
    .navbar .menu li a {
        display: inline-block;
        font-size: 25px;
        margin: 20px 0
    }
    .inicio .inicio-contenedor .derecha {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto 60px
        
    }
    .inicio .acerca-contenedor .izquierda {
        -ms-flex: 100%;
        flex: 100%
    }
    .inicio .inicio-contenedor .text-2 {
        font-size: 70px
    }
    .inicio .inicio-contenedor .text-3 {
        font-size: 35px
    }
    .inicio .inicio-contenedor a {
        font-size: 23px;
        padding: 10px 30px
    }
    .max-width {
        max-width: 800px
    }
    .acerca{
        min-height: 80vh;
        height: auto;
    }
    .acerca .acerca-contenedor .columna {
        width: 100%
    }
    .acerca .acerca-contenedor .izquierda {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto 60px
    }
    .acerca .acerca-contenedor .derecha {
        -ms-flex: 100%;
        flex: 100%
    }
    .acerca .acerca-contenedor .derecha .text span {
        display: block;
    }

    .servicios .servicios-contenedor .card {
        margin-bottom: 20px;
        width: 50%;
        width: calc(50% - 10px)
    }
    .contacto .contacto-contenedor .columna,
    .habilidades .habilidades-contenedor .columna {
        margin-bottom: 35px;
        width: 100%
    }
}
@media(max-width:800px){
    .inicio .inicio-contenedor .columna {
        top: auto;
        align-items: center;
        width: 100%
    }
    .inicio .inicio-contenedor .derecha {
        order: -1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .inicio .inicio-contenedor .izquierda{
        padding-top: 30px;
    }
    .incio .incio-contenedor .derecha{
        align-items: center;
    }
    .incio .incio-contenedor .derecha img {
        filter: drop-shadow(5px 5px 5px  #ffff);
        height: 450px;
        width: 450px
    }
}
@media(max-width:700px) {
    .max-width {
        padding: 0px 25px
    }
    .menu-btn {
        display: block;
        z-index: 999
    }
    .menu-btn i.active:before {
        content: "\f00d"
    }
    .navbar .menu {
        background: #111;
        height: 100vh;
        left: -110%;
        padding-top: 80px;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all .3s ease;
        width: 100%
    }
    .navbar .menu.active {
        left: 0
    }
    .navbar .menu li {
        display: block
    }
    .navbar .menu li a {
        display: inline-block;
        font-size: 25px;
        margin: 20px 0
    }
    .inicio .inicio-contenedor .text-2 {
        font-size: 60px
    }
    .inicio .inicio-contenedor .text-3 {
        font-size: 32px
    }
    .inicio .inicio-contenedor a {
        font-size: 20px
    }
    .servicios .servicios-contenedor .card {
        width: 100%
    }
}
@media(max-width:600px){
    .inicio .inicio-contenedor .columna {
        top: auto;
        align-items: center;
        width: 100%
    }
    .inicio .inicio-contenedor .derecha {
        order: -1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin: -30px; /*aca modificar el responsivo por el margen de la img es que se ve desfazado el body*/
    }
    .inicio .inicio-contenedor .izquierda{
        padding-top: 30px;
    }
    .incio .incio-contenedor .derecha{
        align-items: center;
    }
    .incio .incio-contenedor .derecha img {
        filter: drop-shadow(5px 5px 5px  #ffff);
        height: 350px;
        width: 350px
    }
}
@media(max-width:457px) {  
    .fondo{
          background: url(../img/banner-min.jpg);/* optimizar esta imagen*/
          background-position: auto;
          background-repeat: no-repeat;
          background-size: 1440px 100%;
          
      }
    .incio{
        top: -10px;
    }
    .inicio .inicio-contenedor .columna {
        top: auto;
        align-items: center;
        width: 100%
    }
    .inicio .inicio-contenedor .derecha {
        order: -1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin: -30px; /*aca modificar el responsivo por el margen de la img es que se ve desfazado el body*/
    }
    .inicio .inicio-contenedor .izquierda{
        padding-top: 30px;
    }
    .incio .incio-contenedor .derecha{
        align-items: center;
    }
    .incio .incio-contenedor .derecha img {
        filter: drop-shadow(5px 5px 5px  #ffff);
        height: 350px;
        width: 350px
    }
    .inicio .inicio-contenedor .text-2 {
        font-size: 45px
    }
    .inicio .inicio-contenedor .text-3 {
        font-size: 27px
    }
    .acerca .acerca-contenedor .izquierda img {
        height: 350px;
        width: 350px
    }
    footer{
        width: 100% auto;
        max-width: 457px auto;
        position: relative;
        background: #111;
        color: #fff;
        padding: 20px 23px;
        text-align: center
    }
}
@media(max-width:412px) {  
    .incio{
        top: -10px;
    }
    .inicio .inicio-contenedor .columna {
        top: auto;
        align-items: center;
        width: 100%
    }
    .inicio .inicio-contenedor .derecha {
        order: -1;
        height: 300px;
        width: 300px
    }
    .inicio .inicio-contenedor .izquierda{
        padding-top: 50px;
    }
    .incio .incio-contenedor .derecha{
        align-items: center;
        
    }
    .inicio .inicio-contenedor .text-2 {
        font-size: 45px
    }
    .inicio .inicio-contenedor .text-3 {
        font-size: 27px
    }
    .acerca .acerca-contenedor .izquierda img {
        height: 350px;
        width: 350px
    }
}
@media(max-width:360px) {  
    
    .incio{
        top: -10px;
    }
    .inicio .inicio-contenedor .columna {
        top: auto;
        align-items: center;
        width: 100%
    }
    .inicio .inicio-contenedor .derecha {
        order: -1;
        height: 260px;
        width: 260px
    
    }.inicio .inicio-contenedor .derecha img {
        height: 260px;
        width: 260px;
    }
    .incio .incio-contenedor .derecha{
        align-items: center;
        
    }
    .inicio .inicio-contenedor .text-2 {
        font-size: 45px
    }
    .inicio .inicio-contenedor .text-3 {
        font-size: 23px
    }
    .acerca .acerca-contenedor .izquierda img {
        height: 350px;
        width: 350px
    }

}